---
import { Image } from "astro:assets";
import hero from "../../assets/images/hero.webp";
import graphic from "../../assets/images/graphic.webp";
import tasks from "../../assets/images/tasks.webp";
---

<section
  class="relative min-h-svh flex !flex-row bg-blue-50"
  aria-labelledby="hero-title"
>
  <div
    class="h-full text-center xl:text-left my-auto xl:pl-40 xl:max-w-1/2 md:max-w-2/3 md:mx-auto xl:mx-0 w-full z-10 opacity-0 -translate-y-20 transition-all duration-1000 content-down"
  >
    <h1
      class="text-4xl md:text-6xl font-extrabold leading-tight"
      id="hero-title"
    >
      Clarity. Focus. Flow. Organize your day with NovaTasks
    </h1>
    <p class="!text-2xl text-gray-600 mt-4 mb-14">
      Organize your day effortlessly and focus on what truly matters.
    </p>
    <a
      href="/signup"
      class="px-8 py-4 text-xl rounded-full bg-blue-600 text-white shadow-lg hover:bg-blue-700/90 transition-all cursor-pointer"
    >
      Get Started Free
    </a>
  </div>
  <div
    class="absolute right-0 top-0 w-full h-full hidden xl:flex opacity-0 -translate-y-20 transition-all duration-1000 content-down"
  >
    <Image
      src={hero}
      alt="Screenshot of NovaTasks task manager interface"
      class="absolute top-10 -right-10 drop-shadow-xl max-w-[800px]"
    />
    <Image
      src={graphic}
      alt=""
      aria-hidden="true"
      class="absolute bottom-32 right-[32rem] drop-shadow-xl max-w-[300px]"
    />
    <Image
      src={tasks}
      alt=""
      aria-hidden="true"
      class="absolute -top-8 right-36 drop-shadow-xl max-w-[300px]"
    />
  </div>
</section>
