---
import { Image } from "astro:assets";
const { image, alt, title, desc } = Astro.props as {
  image: ImageMetadata;
  alt: string;
  title: string;
  desc: string;
};
---

<div class="flex flex-col justify-between w-fit h-full px-10 pb-6">
  <div class="relative w-fit mx-auto overflow-hidden self-start">
    <Image src={image} alt={alt} class="md:max-w-[400px] max-w-[350px]" />
    <div
      class="absolute bottom-0 h-2/3 w-full bg-gradient-to-b from-white/5 to-white"
      aria-hidden="true"
    >
    </div>
  </div>
  <div class="max-w-[400px] -mt-10 z-10">
    <h3 class="text-2xl text-blue-900 mb-2">{title}</h3>
    <p class="text-gray-500">{desc}</p>
  </div>
</div>
